{% load static %}


<style>
  .navv{
    font-size: 18px;
    color: #fffff0;
    margin-right: 20px;
  }

  #clr{
      color: white;
  }

</style>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #70a183;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">
      <li>
           <a class="nav-link" href="{% url 'home1' %}"><img alt="..." width="30" height="25" class="d-inline-block align-text-top" src="{% static 'photos/university.png' %}"/>ALBANIAN UNIVERSITY</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.upenn.edu/admissions">Admissions</a>
      </li>
     <li class="nav-item active">
        <a class="nav-link" href="https://www.phoenix.edu/tuition_and_financial_options.html">Fee</a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="https://www.phoenix.edu/students/recognized-student-organizations.html">Student Experience</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#three">Programs&Degrees</a>
    </li>

      {% if request.user.is_staff %}
            <li class="nav-item active">
        <a class="nav-link" id="clr" href="{% url 'portal' %}">Portal</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="clr" href="{% url 'addAttendance' %}">Add Attendance</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="clr" href="{% url 'addNotice' %}">Add Notice</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="clr" href="{% url 'addMarks' %}">Add Marks</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
    </ul>
  </div>
  {% if request.user.is_staff %}
  <span class="navv">Hello, {{request.user}}</span>
  <span ><a  class="navv" href="{% url 'logout' %}">Logout</a></span>
  {% endif %}

</nav>